@page "/"
@page "/Overview"

<PageTitle>Overview</PageTitle>

<div class="container">
    <div class="mt-2 row">
        <h2 class="text-center">Latest Readings</h2>
    </div>
    <div class="row">
        <div class="col-2 shadow">123</div>
        <div class="col-8 shadow bg-gray-500">
        </div>
        <div class="col-2 shadow">123</div>
    </div>
</div>


@code {

}